@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';
@import 'sticky-footer';

main .row:first-of-type{
  margin-top: 80px;
}

main .book{
  background-color:rgba(250, 235, 215, 0.776);
  height: 26em;
}

#book-info, #description, .text-col{
  background-color: rgba(250, 235, 215, 0.776);
}

#description, .text-col{
  padding: 20px;
}

.tilte{
  overflow: hidden;
  height: 8em;
}

body{
  background-image: url('/Background2.jpg');
  background-size: cover;
  background-attachment: fixed;
}


main{
  background-color: rgba(255, 236, 222, 0.9);
}

.photo, .dec-image {
  width: 100%;
  aspect-ratio: 1/1;
}

.logo {
  font-family: 'Carter One';
  display: inline-block;
  margin-top: -5px;
}

@media only screen and (min-width: 992px){

  .logo{
    margin-right: 40px;
  }

  #shoppingCart {
    height: 4vw;
    width: 100%;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 992px) {
  #shoppingCart{
    height: 8vw;
    width: 100%;
  }
  
}

@media only screen and (max-width: 765px) {
  .description-row {
      width: 100%;
      display: block;
    }
}

.cartBtn{
  padding: 0px;
  border: 0px;
}

li {
  list-style: none
}

.buybtn{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
}

#myRow{
  margin-top: 20px;
}

#description{
  margin-left: 20px;
}

h2 {
  display: inline-block;
  margin-left: 40px;
}

.cart-row{

  .cart-header:first-of-type{
    margin-right: 100px;
  }
  .cart-header{
    margin-right: 20px;
  }
}

.book-amount-input{
  width: 35px;
}

.cart-item, .book-price, .book-amount{
  display: inline-block;
  padding-right: 30px;

}

.book-col{
  display: inline-block;
}

.cart-total-title{
  margin-left: 230px;
}

.cart-items{
  margin-bottom: 25px;
}