@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';
@import 'sticky-footer';


main .row:first-of-type {
  margin-top: 80px;
}

.photo {
  height: 15vw;
  width: 100%;
}

// A 'fake' logo
.logo {
  font-family: 'Carter One';
  display: inline-block;
  margin-right: 40px;
  margin-top: -5px;
}

li {
  list-style: none
}

.name{
  margin: 0px;
  display: inline-block;
}

#buybtn{
  margin: 15px 0px;
  margin-left: 120px;
  width: 100px;
  display: inline-block;
}

#myRow{
  margin-top: 40px;
}

#shoppingCart{
  height: 3.5vw;
  width: 100%;
  padding-right: 50px;
}