@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';
@import 'sticky-footer';


main .row:first-of-type {
  margin-top: 80px;
}

main .col-3{
  background-color:antiquewhite;
}

body{
  background-image: url('/Background2.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* do not scroll with the page */
}

main{
  background-color: rgba(255, 236, 222, 0.9);
  
}

.photo {
  height: 15vw;
  width: 100%;
}

// A 'fake' logo
.logo {
  font-family: 'Carter One';
  display: inline-block;
  margin-top: -5px;
}

@media only screen and (min-width: 992px){
  .logo{
    margin-right: 40px;
  }
  #shoppingCart {
    height: 4vw;
    width: 100%;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 768px) {
  #shoppingCart{
    height: 10vw;
    width: 100%;
  }
}

.btn{
  padding: 0px;
  border: 0;
}

li {
  list-style: none
}

.name{
  margin-bottom: 15px;
  display: inline-block;
}

#buybtn{
  margin-bottom: 20px;
  width: 100px;
  display: inline-block;
}

#myRow{
  margin-top: 20px;
}

