@import 'bootstrap/scss/functions';

// Overrides 
$primary: rgba(195, 128, 12, 0.877);
$font-family-sans-serif: 'Alegreya Sans';
$font-family-base: 'Alegreya Sans';
$font-size-base: 1.3rem;

// NOTE: You can find all the variable names
// and default settings here
// (uncomment temporarily and follow the link
//  using command ctrl/cmd click in VSC)
// @import 'bootstrap/scss/variables';