@import '../node_modules/bootstrap/scss/functions';

// Overrides 
$primary: rgb(188, 132, 1);
$font-family-sans-serif: 'Alegreya Sans';
$font-family-base: 'Alegreya Sans';
$font-size-base: 1.3rem;

// NOTE: You can find all the variable names
// and default settings here
// (uncomment temporarily and follow the link
//  using command ctrl/cmd click in VSC)
// @import 'bootstrap/scss/variables';